<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>

<!--<div class="user-image-container text-center">-->
  <!--<img ng-click="profile()" class='user-image-drawer'>-->
<!--</div>-->


  <ul class="list" ng-controller="DrawerController">
    <li ng-controller="ProfileController" ng-click="profilefunc()" class="item"> Profile </li>
    <li class="item" onclick="supersonic.ui.drawers.close()">Home</li>
    <li ng-controller="SettingsController" ng-click="settings()" class="item">Settings </li>
    <li class="item" ng-click="myFunction();">Messages</li>
    <li ng-controller="FAQController" ng-click="faqs()" class="item"> FAQ </li>
    <li class="item" ng-click="logout();">Logout</li>
  </ul>
