<super-navbar>
    <super-navbar-title>
        FAQ
    </super-navbar-title>
</super-navbar>
<style>
    .button{
        background-color: #3b5998;
    }
</style>
<div class="card">
    <div class="item item-divider">
        What is Friendr?
    </div>
    <div class="item item-text-wrap">
        Meeting new people who has the same interest as yourself can be a challenging
        thing to do especially when you don’t know where to start.
        Our application targets users that are interested in meeting new
        people through an activity that they both enjoy and hopefully form a lifelong friendship amongst the users.
    </div>
</div>
<div class="card">
    <div class="item item-divider">
        How much is your app?
    </div>
    <div class="item item-text-wrap">
        $0.00 - available for free in future.
    </div>
</div>
<div class="card">
    <div class="item item-divider">
        Where does the name come from?
    </div>
    <div class="item item-text-wrap">
        There are a few pre-existing applications for meeting random people to connect with.
        These apps allow to users make new friends and start a conversation with them. However, our application
        is different from them as it matches people according to a common goal instead of an interest and is more user friendly.
    </div>
</div>
<div class="card">
    <div class="item item-divider">
        Contact us:
    </div>
    <div class="item item-text-wrap">
        friendr@gmail.com
    </div>
</div>
<div ng-controller="FAQController">

            <button onclick="supersonic.ui.modal.hide()" class="button button-block button-positive">Close</button>

</div>