<super-navbar>
  <super-navbar-title>Messages</super-navbar-title>
</super-navbar>

<div class="list" ng-controller="LearnMoreController">
  <div id="container">
    <a class="item item-avatar" ng-repeat="user in other_users" ng-click="myFunction($index)">
      <img class="img-circle" img src="http://rbamstelveen.weebly.com/uploads/4/9/5/0/49504239/7808026_orig.png">
      <h2>{{user.other_user}}</h2>
      <!--<button class="button button-small" ng-click="deleteTapped()">-->
        <!--<i class="icon super-ios-cross"></i>-->
      <!--</button>-->
    </a>

  </div>
</div>
