<super-navbar>
  <super-navbar-button onclick="supersonic.ui.modal.hide()">
    Close
  </super-navbar-button>
  <super-navbar-title>
    Messages
  </super-navbar-title>
</super-navbar>

<div class="list" ng-controller="LearnMoreController">
  <a class="item item-avatar" ng-repeat="conversation in conversationList" ng-click="viewConversation($index)">
    <img ng-src="data:image/jpeg;base64,{{conversation.user.profile.Image}}">
    <h2>{{conversation.user.profile.FirstName + ' ' + conversation.user.profile.LastName}}</h2>
  </a>


</div>
