<div class="list" ng-controller="LearnMoreController">

  <a class="item item-avatar" ng-repeat="user in other_users" ng-click="myFunction($index)">
    <img class="img-circle" img src="https://www.codeproject.com/KB/web-image/ASPNetUpDownloadFiles/RunAppDownload.jpg">
    <h2>{{user.other_user}}</h2>
  </a>
  <!-- <a class="item item-avatar" href="#" ng-click="myFunction()">
    <img src="https://svn.apache.org/repos/asf/openoffice/ooo-site/trunk/content/documentation/Samples_Templates/User/gallery/coffeeclipart.jpg">
    <h2>Srish</h2>
  </a>
  <a class="item item-avatar" href="#" ng-click="myFunction()">
    <img src="http://www.slate.com/content/dam/slate/blogs/bad_astronomy/2013/06/09/shutterstock_zombie.jpg.CROP.thumbnail-small.jpg">
    <h2>Josh</h2>
  </a>
  <a class="item item-avatar" href="#" ng-click="myFunction()">
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c3/NotCommons-emblem-copyrighted.svg/52px-NotCommons-emblem-copyrighted.svg.png">
    <h2>Dennis</h2>
  </a>
  <a class="item item-avatar" href="#" ng-click="myFunction()">
    <img src="venkman.jpg">
    <h2>Ben</h2>
  </a>
  <a class="item item-avatar" href="#" ng-click="myFunction()">
    <img src="venkman.jpg">
    <h2>Leo</h2>
  </a> -->
</div>
