<super-navbar>
    <super-navbar-title ng-bind="title">
    </super-navbar-title>
</super-navbar>

<div ng-controller="messageController">
        <style>

            /*.item-input-inset{*/
                /*margin-top : 90vh;*/
            /*}*/
            .item-input-inset{
                position: fixed;
                bottom: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                height: 50px;
                z-index: 99;
                background: #fafafa;
                border: none;
                outline: none;
                padding-left: 25px;
                padding-right: 55px;
                color: #666;
                font-weight: 400;
            }


            .bubble {
                background-image: linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
                background-image: -o-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
                background-image: -moz-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
                background-image: -webkit-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
                background-image: -ms-linear-gradient(bottom, rgb(210,244,254) 25%, rgb(149,194,253) 100%);
                background-image: -webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(0.25, rgb(210,244,254)),
                        color-stop(1, rgb(149,194,253))
                );
                border: solid 1px rgba(0, 0, 0, 0.5);
                /* vendor rules */
                border-radius: 20px;
                /* vendor rules */
                box-shadow: inset 0 5px 5px rgba(255, 255, 255, 0.4), 0 1px 3px rgba(0, 0, 0, 0.2);
                /* vendor rules */
                box-sizing: border-box;
                clear: both;
                float: left;
                margin-bottom: 20px;
                padding: 8px 30px;
                position: relative;
                text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
                width: auto;
                max-width: 100%;
                word-wrap: break-word;
            }

            .bubble:before, .bubble:after {
                border-radius: 20px / 10px;
                content: '';
                display: block;
                position: absolute;
            }

            .bubble:before {
                border: 10px solid transparent;
                border-bottom-color: rgba(0, 0, 0, 0.5);
                bottom: 0;
                left: -7px;
                z-index: -2;
            }

            .bubble:after {
                border: 8px solid transparent;
                border-bottom-color: #d2f4fe;
                bottom: 1px;
                left: -5px;
            }

            .bubble--alt {
                background-image: linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
                background-image: -o-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
                background-image: -moz-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
                background-image: -webkit-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
                background-image: -ms-linear-gradient(bottom, rgb(172,228,75) 25%, rgb(122,205,71) 100%);
                background-image: -webkit-gradient(
                        linear,
                        left bottom,
                        left top,
                        color-stop(0.25, rgb(172,228,75)),
                        color-stop(1, rgb(122,205,71))
                );
                float: right;
            }

            .bubble--alt:before {
                border-bottom-color: rgba(0, 0, 0, 0.5);
                border-radius: 20px / 10px;
                left: auto;
                right: -7px;
            }

            .bubble--alt:after {
                border-bottom-color: #ace44b;
                border-radius: 20px / 10px;
                left: auto;
                right: -5px;
            }

        .bar-footer {
            position: fixed;
            top: auto;
            bottom: 0;
        }
            navigation-bar button {
                font-size: 16px;
                font-weight: bold;
                color: #ffffff;
            }


        </style>
    <super-navbar>
        <super-navbar-button ng-click="buttonTapped()" side="right">
            Clear
        </super-navbar-button>
        <super-navbar-title ng-bind="viewTitle"></super-navbar-title>

    </super-navbar>

    <p ng-init="tester1()"></p>

        <div ng-repeat="msg in hasmsg">
            <div ng-if="msg.Sender == msgS">
                <div class="bubble">
                    <p>{{msg.Message}}</p>
                </div>
            </div>
            <div ng-if="msg.Sender != msgS">
                <div class="bubble bubble--alt" >
                    <span> {{msg.Message}} </span>
                </div>
            </div>
        </div>

        <div ng-if="$index != 0" ng-repeat="msg in msgs">
            <div ng-if="msg.Sender == msgS">
                <div class="bubble">
                    <span> {{msg.Message}} </span>
                </div>
            </div>
            <div ng-if="msg.Sender != msgS">
                <div class="bubble bubble--alt" >
                    <span> {{msg.Message}} </span>
                </div>
            </div>
        </div>


        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input  ng-model="foo" type="text" placeholder="Message">
            </label>
            <button class="button button-small" ng-click="inputValue()">
                Done
            </button>
        </div>

</div>
