<super-navbar>
    <super-navbar-title>
        Change Password
    </super-navbar-title>
</super-navbar>

<div class="padding" ng-controller="PasswordController">

    <div class="password">

            <div class="text-center">

            </div>
            <div class="list white">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Enter your email</span>
                    <input type="text" ng-model="email" placeholder="abcd@purdue.edu">
                </label>
            </div>
        </div>

    <button ng-click="resetPassword()" class="button button-block button-positive">Forgot Password</button>
    <button ng-click="close()" class="button button-block button-positive">Close</button>


</div>