.supersonic-navbar-mock {
  background-color: darkblue;
  text-align: center;
  font-weight: 600;
}

.wrap-login {
  margin-top: 10vh;
  height: 80vh;

  background: -webkit-linear-gradient(#FFFFFF, #d4dcdc);   /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFFFFF, #d4dcdc);        /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFFFFF, #d4dcdc);      /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFFFFF, #d4dcdc);           /* Standard syntax */

  padding: 5%;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
}

.logo-font {
  font-family: 'Unica One', 'cursive';
}

.login-text {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 2%;
  padding-right: 2%;
}
.padding {
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 5%;
  padding-right: 5%;
}

.micro-padding {
  padding-left: 1px;
  padding-right: 1px;
}
.wrap-buttons {
  color: blue;
}
.logo-login {
  margin-top: 5%;
  height: 150px;
  width: 150px;
  padding: 25px;
  border-radius: 43%;
  align: center;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.48);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.48);
}

