.supersonic-navbar-mock {
  background-color: darkblue;
  text-align: center;
  font-weight: 600;
  font-family: Roboto;
}

.wrap-login {
  margin-top: 10vh;
  height: 80vh;

  background: -webkit-linear-gradient(#FFFFFF, #d4dcdc);   /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFFFFF, #d4dcdc);        /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFFFFF, #d4dcdc);      /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFFFFF, #d4dcdc);           /* Standard syntax */

  padding: 5%;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
}

.setting {
  padding: 15px;
}

.password{
  margin-top: 5vh;
  height: 15vh;
  background: -webkit-linear-gradient(#FFFFFF, #d4dcdc);   /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFFFFF, #d4dcdc);        /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFFFFF, #d4dcdc);      /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFFFFF, #d4dcdc);           /* Standard syntax */

  padding: 5%;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.5);
}
.logo-font {
  font-family: 'Unica One', 'cursive';
}

.login-text {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 2%;
  padding-right: 2%;
}
.padding {
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 5%;
  padding-right: 5%;
}

.micro-padding {
  padding-left: 1px;
  padding-right: 1px;
}
.wrap-buttons {
  color: blue;
}
.logo-login {
  margin-top: 5%;
  height: 150px;
  width: 150px;
  padding: 25px;
  border-radius: 43%;
  align: center;
  -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.48);
  box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.48);
}

.list.card.margin {
  padding-left: 0 !important;
  margin-left:0 !important;
  margin-top:10vh;
  padding-top:0;
  top: 0;bottom: 0;left: 0;right: 0;
  position: relative;
  text-align: center;
  border-radius: 50% !important;
  height:100vw;
  width:100vw;
  z-index: 1;
/*  background-color: blue !important;
*/  
}

.recentContent{
  margin:auto;
}

.list.preference {
  width:100vw !important;
}

.homePage {
  top: 5vh;
  left:0;
  height:100vh;
  width:100vw;
  background-image:    url(../assets/icons/cog.svg);

}

.recentActivities {
  height: 100vh;
}

.preferenceSubmit {
  position:absolute;
  bottom: 0;
}

.test {
  text-align:center;
  background-color:transparent;
    border-width: 0px;
  height:100%;
  width:100%;
  display: inline-block;
  font-color: #ffffff;
}

.test2 {
  margin-top:0 !important;
  padding-top: 0 !important;
  text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

}

.eat {
  background-image: url("/images/eat1.png");
  margin: auto;
  height: 100%;
  border-radius: 100%;
  overflow:hidden;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color:transparent;*/
}
.study {
  background-image: url("/images/apple_books.jpg");
  margin: auto;
  height: 100%;
  border-radius: 100%;
  overflow:hidden;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-color:transparent;*/
}
.workout {
  background-image: url("/images/fun.jpg");
  margin: auto;
  height: 100%;
  border-radius: 50%;
  overflow:hidden;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  /*background-color:transparent;*/
}
.sample {
  font-family: "Comic Sans MS";
}
.container {
  height:100vw;
  width:100vw;
  overflow-y:hidden;
    white-space:nowrap;

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
